<div class="container">
    <div class="row">
        <table class="table table-bordered b-counts-table__table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Имя игрока</th>
                    <th>Монеты</th>
                    <th>Жизни</th>
                    <th>Goomba</th>
                    <th>ИТОГО</th>
                </tr>
            </thead>
            {% for data in datas %}
                {% if loop.index0 % 2 == 0 %}
                    <tbody class="b-counts-table__one-game">
                {% endif %}
                <tr>
                    <td>{{ data.game_date }}</td>
                    <td>{{ data.player_name }}</td>
                    <td>{{ data.coins }}</td>
                    <td>{{ data.lifes }}</td>
                    <td>{{ data.goomba }}</td>
                    <td>{{ data.points }}</td>
                </tr>
                {% if loop.index0 % 2 == 1 or loop.last %}
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>